<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Indian News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <button onclick="refreshNews()">
        🔄 Refresh News
    </button>
    <h1>The Side And Short News(INDIAN NEWS)</h1>
    <h2>Here top 21 indian news</h2>
     <script>
        function refreshNews() {
            // Reload the page to fetch latest news
            location.reload();
        }
    </script>
    <div class="out">
        {% for item in news %}
        <div class="box">
            <h2>Top {{ loop.index }}</h2>
            <p><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></p>
            <small>{{ item.pub_date }}</small>
        </div><br><br><br>
        {% endfor %}
    </div>

</body>
</html>
